.center {
  position: relative;
  top: 0px;
  width: 1090px;
  margin: 0 auto;
  > .login_content {
    padding-top: 20vh;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > h1 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .inp_box {
      > div:first-child {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 400px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #e5e7eb;
        background-color: #eeeeee;
        margin-top: 15px;
        padding: 0 10px;
        > input {
          font-size: 14px;
          width: 374px;
          height: 45px;
          outline: none;
          border: none;
          background-color: #eeeeee;
        }
        > span {
          display: none;
        }
        .show {
          display: block;
        }
      }
      > div:last-child {
        // width: 300px;
        display: none;
        margin-top: 10px;
        padding: 0 10px;
        font-size: 14px;
        color: red;
        // line-height: 50px;
      }
    }
    .isFalse {
      border: 1px solid rgb(255, 0, 0);
    }
    button {
      width: 400px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid #e5e7eb;
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      background-color: #b3b3b3;
      margin-top: 20px;
    }
    > .goRegister {
      font-size: 16px;
      padding: 10px 0;
    }
    > p {
      margin-top: 12px;
      font-size: 14px;
      color: #828282;
      a {
        color: #000;
      }
    }
  }
}
